/** @format */

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}
