*,
* ::before,
* ::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --paragraph-text-color: #757575;
  --primary-white-color: #ffffff;
  --background-image-color: rgba(47, 48, 58, 0.4);
  --benefits-background-icon-color: #f5f4fa;
  --color-icon-team: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-button-color: rgba(0, 0, 0, 0.15);
  --border-modal-color: rgba(33, 33, 33, 0.2);
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hover-button-color: #188ce8;
}