.contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  margin: 0 0 0 280px;
}

.contacts-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  fill: var(--second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contacts-icon {
  margin-right: 10px;
}
