/** @format */

.heading {
  margin-top: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
}

.header-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition: color 250ms var(--timing-function);
  &.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
  }
}

.site-nav-list .header-link.current {
  color: var(--accent-color);
}
