
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.half {
  color: #000000;
}

.logotype {
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.half-two {
  color: var(--primary-white-color);
}