.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: var(--for-box-shadow);
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  color: var(--primary-text-color);
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-label {
  margin-bottom: 4px;
  color: var(--second-text-color);
}
.input-wrap {
  position: relative;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  &:hover + .modal-input-icon,
  &:focus + .modal-input-icon {
    fill: var(--accent-color);
  }
}

.modal-input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}
.modal-comment {
  position: relative;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 16px 12px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

// .input-check {
// }
// .hide {
// }

.check-text {
  display: flex;
  align-items: center;
  color: var(--second-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
}

.input-check:checked + .check-text span {
  /* background-color: var(--accent-color); */
  border-color: transparent;
  fill: var(--primary-white-color);
}

.input-check:focus + .check-text span {
  background-color: var(--accent-color);
}

.check-link {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.form-button {
  display: block;
  cursor: pointer;
  padding: 10px 55px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  box-shadow: 0px 4px 4px var(--btn-box-shadow);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
