/** @format */
.nav-list {
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 0px;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.nav-item {
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: currentColor;
  transition: color 250ms var(--timing-function);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-link-active {
  color: var(--accent-color);
  &::after {
    content: '';
    display: flex;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
