.team {
  background-color: var(--second-white-color);
  padding-bottom: 94px;
  padding-top: 94px;
  margin-top: 94px;
}

.team-title {
  color: currentColor;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* margin-bottom: 94px; */
}

.team-item {
  width: calc((100% - 90px) / 4);
  position: relative;
  box-shadow: var(--for-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  width: 100%;
}

.team-item-title {
  color: currentColor;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-text {
  color: var(--second-text-color);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 42px;
}
.soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-white-color);
  /* color: var(--soc-icon-color); */
  fill: var(--icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
